// Menu
.menu {
  @include tamanhoPadrao(100%, left);
  @include margem(4%);
}

// Botao do Menu
.btn-menu {
  @include tamanhoPadrao(100%, left);

  button {
    @include tamanhoPadrao(90%, left, $branco,  $cor-btnmenu);
    background-color: saturate(#f1003b, 1%);
    @include espacamento(1.5%, 0);
    @include margem(0, 0, 0, 5%);
    @include arrendodar(2px);
    @include borda(0,0,3px,0,darken(saturate(#f1003b, 1%),5));
    //@include sombra(0.5px, 0.5px, 2px, $cor-btnmenu);

    &:active{
      opacity: 0.6;
    }
  }
}

// Lista do Menu
.lista-menu {

  @include  tamanhoPadrao(90%, left, #000, #eaeded);
  @include margem(0, 0, 0, 5%);
}

// Titulo da Lista
.titulo-lista-menu {
  @include  tamanhoPadrao(100%, left, #000, #e5e8e8);
  text-align: center;
  @include font(1.2em, #000);
}

// Itens da Lista
.itens-lista {
  @include  tamanhoPadrao(100%, left, #000);
  @include borda(2px,0,0,0,#ccc);
  ul {
    @include tamanhoPadrao(100%, left, #000, #fff);
    padding: 0;
  }

  ul li {
    @include espacamento(4%, 4%);
    @include borda(0, 0,1px,0, #f8f9f9);
    cursor: pointer;
    margin: 0;
  }



  ul li span {
    @include color(#fff);
    @include spacing(2% , 4.8% , 2% , 5%);
    @include arrendodar(10px);
    @include margem(0, 0 , 2% , 0);
    @include alinhar(right);
    @include fontWeight(900);
    font-family : sfBold;
  }
  .span1 { @include bgColor($notification1); }
  .span2 { @include bgColor($notification2); }
  .span3 { @include bgColor($notification3); }
  .span4 { @include bgColor($notification4); }
}

.recusados, .concluidos, .cancelados {
  @include margem(0, 0 , 2%, 4%);
}

.supporte  button{
    width: 90%;
  @include margem(0,0,0,5%);
  @include espacamento(1%, 0);
  
  @include arrendodar(2px);

  @include bgColor($cor-barra);
  @include color($branco);

  &:active {
    opacity: 0.9;
    cursor: pointer;
  }
}
