$corPadrao:  saturate(#f1003b, 1%);
$cor-barra : #D73925;
$branco: #fff;
$cinza-menu: #fbfee7;
$cor-btnmenu:  #e74c3c;

$notification1: #DD4B49;
$notification2: #F39C19;
$notification3: #32CD32;
$notification4: #3F7CE9;
